.chatList {
     flex: 1;
     overflow: scroll;

     .search {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 20px;

          .searchBar {
               flex: 1;
               background-color: #5f63683d;
               display: flex;
               align-items: center;
               gap: 20px;
               border-radius: 10px;
               padding: 10px;

               input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: #fff;
                    flex: 1;
               }

               i {
                    width: 20px;
                    height: 20px;
               }
          }
     }

     .add {
          background-color: #5f63683d;
          width: 36px;
          height: 36px;
          padding: 10px;
          border-radius: 10px;
          cursor: pointer;
     }

     .item {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 20px;
          cursor: pointer;
          border-bottom: 1px solid #0000002e;

          img {
               width: 50px;
               height: 50px;
               border-radius: 50%;
               object-fit: cover;
          }

          .textContainer {
               display: flex;
               flex-direction: column;
               gap: 10px;

               span {
                    font-weight: 500;
               }

               p {
                    font-size: 14px;
                    font-weight: 300;
               }
          }
     }
}