.detail {
     flex: 1;

     .user {
          padding: 30px 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          border-bottom: 1px solid #0000002e;

          img {
               width: 100px;
               height: 100px;
               border-radius: 50%;
               object-fit: cover;
          }
     }

     .info {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 30px;

          .option {

               .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    img {
                         width: 30px;
                         height: 30px;
                         background-color: #5f63683d;
                         padding: 7px;
                         border-radius: 50%;
                         cursor: pointer;
                    }
               }

               .media {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 20px;

                    .mediaItem {
                         display: flex;
                         align-items: center;
                         justify-content: space-between;

                         .mediaDetail{
                              display: flex;
                              align-items: center;
                              gap: 20px;

                              img {
                                   width: 40px;
                                   height: 40px;
                                   border-radius: 5px;
                                   object-fit: cover;
                              }

                              span {
                                   font-size: 14px;
                                   color: lightgrey;
                                   font-weight: 300;
                              }
                         }

                         i {
                              width: 30px;
                              background-color: #5f63683d;
                              padding: 7px;
                              border-radius: 50%;
                              cursor: pointer;
                         }
                    }
               }
          }

          button {
               padding: 10px 20px;
               background-color: rgb(230, 74, 105, 0.553);
               color: #fff;
               border: none;
               border-radius: 5px;
               cursor: pointer;

               &:hover {
                    background-color: rgb(230, 74, 105);
               }
          }

          .logout {
               background-color: rgba(90, 74, 230, 0.553);

               &:hover {
                    background-color: rgba(90, 74, 230, 0.996);
               }
          }
     }
}