.chat {
     flex: 2;
     border-left: 1px solid #0000002e;
     border-right: 1px solid #0000002e;

     display: flex;

     flex-direction: column;


     height: 100%;


     .top {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #0000002e;


          .user {
               display: flex;
               align-items: center;
               gap: 20px;


               img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
               }

               .textContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;


                    span {
                         font-size: 18px;
                         font-weight: bold;
                    }

                    p {
                         font-size: 14px;
                         font-weight: 300;
                         color: #5F6368;
                    }
               }

               .icons {
                    display: flex;
                    gap: 20px;


                    i {
                         width: 20px;
                         height: 20px;
                    }
               }
          }

     }


     .center {
          background-color: #F7F8FA;

          flex: 1;
          padding: 20px;
          overflow: scroll;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .message {
               max-width: 70%;
               display: flex;
               gap: 20px;

               &.own {
                    align-self: flex-end;

                    .textContainer {
                         p {
                              background-color: #eb87cc99;
                         border-radius: 10px;

                         }
                    }
               }

               img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
               }

               .textContainer {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    img {
                         width: 100%;
                         height: 300px;
                         border-radius: 10px;
                         object-fit: cover;
                    }


                    p {
                         padding: 20px;
                         background-color: #5c449563;
                         border-radius: 10px;
                    }

                    span {
                         font-size: 13px;
                    }

               }
          }

     }


     .bottom {
          margin-top: auto;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #0000002e; 
          /* delete border-top */


          gap: 20px;


          .icons {
               display: flex;
               gap: 20px;


              

          }

          i {
               width: 20px;
               height: 20px;
               cursor: pointer;
          }

          input {
               flex: 1;
               background-color: #5f63683d;
               border: none;
               outline: none;
               color: #000;

               padding: 10px 20px;
               border-radius: 10px;
               font-size: 16px;
          }

          .emoji {
               position: relative;

               .picker {
                    position: absolute;
                    bottom: 50px;
                    left: 0;
               }

          }


          .sendButton {
               background-color: #5F6368;
               color: #fff;
               padding: 10px 20px;
               border: none;
               border-radius: 5px;
               cursor: pointer;
          }

     }

}