.login {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     gap: 100px;

     .item {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          form {
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 20px;

               input {
                    padding: 20px;
                    border: none;
                    outline: none;
                    background-color: rgba(17, 25, 40, 0.6);
                    color: #fff;
                    border-radius: 5px;
               }

               label {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    text-decoration: underline;

                    img {
                         width: 50px;
                         height: 50px;
                         border-radius: 10px;
                         object-fit: cover;
                         opacity: 60%;
                    }
               }

               button {
                    width: 100%;
                    padding: 20px;
                    border: none;
                    background-color: #beafe4;
                    color: #000;
                    font-weight: 500;
                    text-transform: uppercase;
                    border-radius: 5px;
                    cursor: pointer;

                    &:disabled {
                         cursor: not-allowed;
                         background-color: #beafe486;
                    }
               }
          }
     }

     .separator {
          height: 80%;
          width: 2px;
          background-color: #dddddd35;
     }
}