*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #af8ffd; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffff;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.65);
  border-radius: 25px;
  display: flex;
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;  
  background-color: rgba(17, 25, 40, 0.65);
}